* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.waldoBoard {
  width: 1280px;
  height: 720px;
}


.border {
  border: 2px solid blue;
  border-style: dashed;
  height: 50px;
  width: 30px;
  pointer-events: none;
}

.charSelect {
  margin-left: 5px;
  height: 20px;
}
